.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%,80px);

}

.navbar .profile{
    width: 40px;
}